<footer class="footer">
    <div class="content footer-content has-text-centered">
        <div>
            Developed by Dainyl Cua
        </div>
        <a href="https://github.com/dainylcua">
            <span class="icon is-large">
                <i class="fa-2x fa-brands fa-github-alt"></i>
            </span>
        </a>
        <a href="https://www.linkedin.com/in/dainylcua/">
            <span class="icon is-large">
                <i class="fa-2x fa-brands fa-linkedin"></i>
            </span>
        </a>
    </div>
</footer>

</body>
</html>