<section class="hero is-papyrus">
    <div class="hero-body">
        <div class="title">
            <%= heroText.title %>
        </div>
        <div class="subtitle">
            <%= heroText.subtitle %>
        </div>
    </div>
</section>