<% if(userCollections.length === 0) { %>
    <div class="columns">
        <div class="column">
            <div class="box">Nothing's here... try making an item!</div>
        </div>
    </div>
<% } %>
