<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="container">
    <h1>Dashboard</h1>
    <form action="/posts/seed" method="post">
        <input type="submit" value="Seed data">
    </form>
</div>
<%- include('./partials/footer.ejs') %>