<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="container">
    <h1>Dashboard</h1>
    <div class="column is-6">
        <button class="button is-fullwidth" id="seed">Seed Data</button>
    </div>
    <div class="column is-6">
        <button class="button is-fullwidth" id="delete-all">Delete All</button>
    </div>
</div>
<%- include('./partials/footer.ejs') %>