<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<section class="hero is-large">
    <div class="hero-body">
        <div class="title">
            An unexpected error has occured.
        </div>
        <div class="subtitle">
            <%=error%>
        </div>
    </div>
</section>



<%- include('./partials/footer.ejs') %>
