<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<%- include('./partials/mainHero.ejs') %>

<div class="container">
    <div class="columns">
        <div class="column is-6">
            <div class="box">
                Click "Browse" to see all the custom homebrews currently in the database.
            </div>
        </div>
        <div class="column is-6">
            <div class="box">
                Click "Create" to create your own custom homebrew once you are logged in.
            </div>
            
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>