<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<%- include('./partials/hero.ejs') %>

<div class="container">
    <div class="columns">
        <div class="column is-6">
            <div class="box">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio magni eius fuga vero eligendi, fugiat ab praesentium voluptatum impedit est consequatur in dolor modi officiis deserunt nesciunt quis quas assumenda.
            </div>
            
        </div>
        <div class="column is-6">
            <div class="box">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quibusdam amet ratione, quam modi recusandae labore, optio repellendus maiores minima voluptatum obcaecati vero! Eum dignissimos suscipit atque ullam! Inventore, unde.
            </div>
            
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>